{
	"Task": {
		"__type": "BackupTaskDC:V10",
		"IsEnabled": true,
		"Type": 0,
		"LastUpdateTimeForTaskElement": "0",
		"BackupTaskGUID": "SOME_GUID",
		"sourceServerGUID": "SOME_GUID",
		"vmName": "YOUR_VM_NAME",
		"vmNameEscaped": "YOUR_VM_NAME",
		"vmIdentifier": "SOME_GUID",
		"vmRef": "vm-123",
		"dataCenterMoRef": "datacenter-123",
		"excludeDisks": [],
		"ConvertAllDisksAsThin": false,
		"snapmem": true,
		"quiesce": true,
		"checkVSSManifest": false,
		"storagesnap": false,
		"compress": false,
		"keepcompressed": false,
		"reversenat": false,
		"encrypt": false,
		"encryptionPassword": "",
		"oldEncryptionPassword": "",
		"targetServerGUID": "",
		"TargetLogicalSpec": "C:\\YOUR_BACKUP_PATH\\{VM}\\{DATETIME}",
		"targetAllowEmptyDirectory": false,
		"targetArchiveExisting": false,
		"targetAllowOverwrite": false,
		"targetIncrementalBackup": true,
		"EnableIncrementalByDefault": true,
		"targetForceDelete": false,
		"useAgentIncremental": false,
		"useCBTIncremental": false,
		"keepLastBackups": "-1",
		"makeFullBackupEvery": "20",
		"makeFullBackupDeltaTime": "everyweek",
		"onErrorExecuteNextTask": true,
		"onErrorDoFullBackupNextTime": true,
		"RestartGuestBefore": false,
		"RestartGuestAfter": false,
		"RestartGuestNever": false,
		"ShutdownGuestWait": -1,
		"SuspendGuestAfterSnapshot": false,
		"SuspendGuestAfterBackup": false,
		"SuspendGuestNever": false,
		"SuspendGuestWait": -1,
		"VerifyBackup": false,
		"VerifyBackupImages": [],
		"VerifyDontAttachImgInReport": false,
		"VerifyFileSystemConsistency": {
			"Enabled": false,
			"DiskBus": "",
			"VolumeId": "",
			"FilePath": "",
			"LastChangeDateMaxDiff": 86400
		}
	}
}